<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back to home</title>
    <link rel="stylesheet" href="/client/src/style/css/home.css">
</head>

<body>
    <div class="cell">
        <h1 class="heading" class="head">युवा शक्ति संगठन</h1> <!-- Displays the main heading "Youth Power Organization" -->
        <div class="home text"><a href="/clint/public/index.html">HOME</a></div>

    </div>
</body>

</html>